.image-title {
    position: relative;
    height: 17rem;
}

.title-background {
    //position: absolute;
    top: -1.0;
    left: 0.0;
    height: 100%;
    width: 105%;

    /*background-image: url("../media/junction-background.jpg");*/
    /*-moz-background-image: url("../media/junction-background.jpg");*/
    /*-o-background-image: url("../media/junction-background.jpg");*/
    /*-webkit-background-image: url("../media/junction-background.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 103%;
    background-color: white;
    opacity: 100%;
}

.title-content {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 103%;
    //color: white;
}

.topology-diagram {
    width: 8.6rem;
}

.topology-diagram + .topology-diagram img {
    border-left: 1px solid #cccccc;
    border-radius: 0;
}

.topology-diagram + .topology-diagram img.legends {
    border: 1px solid #cccccc;
    padding: 0.5rem;
}

.topology-diagram .card-body {
    padding-top: 0;
}

.topology-diagram img {
    width: 105%;
    height: 8.5rem;
    padding: 0 0.5rem ;
}

.media video {
    width: 50%;
}

.media {
    margin: 1rem;
}

.ts {
    color:#007bff;
}

.ts:hover {
    cursor: pointer;
    text-decoration: underline;
}

.card-text {
    font-size: 2rem;
}